.header {
	padding: 10px;
	border: solid;
	height: 40px;
	margin-top: 4px;
}
#logo {
	float: left;
	font-weight: bold;
	color: #37379B;
	font-size: 24px;
	padding-left: 10px;
}
#lang {
	float: right;
	padding-right: 5px;
	padding-top: 25px;
}