a.disabled {
    pointer-events: none; 
    cursor: default;  
    color: #999; 
}
.body {
	border: solid;
	border-color: lightgray;
	margin: 5px;
	height: 860px;
}
#menu-wrapper {
	overflow: hidden;
	width: 200px;
	height: 100px;
	float: left;
	background-color: lightgrey;
	margin-top: 5px;
	border: solid lightgrey;
}
.date {
	float: right;
	margin-right: 20px;
	text-decoration: underline;
}
.news-content {
	padding-left: 250px;
	width: 300px;
}
.input-component {
	overflow: hidden;
	margin-bottom: 30px;
}

.component-name {
	float: left;
	padding-left: 15px;
	padding-top: 2px;
	font-weight: bold;
	width: 100px;
}

.content-component {
	width: 620px;
	float: right;
}

#title-input {
	width: 600px;
}

#date-input {
	width: 150px;
}

#brief-input {
	width: 600px;
}

#content-input {
	height: 200px;
	width: 600px;
}

#news-add-edit-wrapper {
	margin: 15px;
	margin-top: 50px;
}

#select-option {
	width: 410px;
	margin: auto;
	overflow: hidden;
}

#save-btn {
	float: right;
	margin-right: 15px;
	width: 100px;
	height: 40px;
	margin-bottom: 200px;
	border: outset;
}
.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.pagination {
	overflow: hidden;
	background-color: #F2F2F2;
}
.pagination li {
	list-style: none;
	float: left;
	width: 20px;
	height: 20px;
	border: solid;
	border-color: #C6C6C6;
	background-color: #EFEFEF;
	color: black;
	text-align: center;
	cursor: pointer;
	margin: 0 2px;
	font-weight: bold;
}

.pagination li:hover {
	background-color: black;
	border: solid;
	border-color: white;
	color: white;
	font-weight: bold;
}

.pagination ul {
	padding: 0px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 300px;
}

.list-of-posts {
	height: 752px;
}

.label-tag {
	overflow: hidden;
}

#news-view-wrapper {
	padding: 15px;
	overflow: hidden;
	height: 920px;
}

.news-view-title {
	width: 550px;
	float: left;
	font-weight: bold;
	margin-bottom: 20px;
	margin-right: 250px;
}

.news-view-author {
	width: 200px;
	float: left;
}

.news-view-date {
	float: left;
	width: 140px;
}

#news-view-header {
	overflow: hidden;
}

.news-view-text {
	width: 800px;
	text-align: justify;
}

.comment-date {
	overflow: hidden;
	color: black;
	width: 100px;
}

.comment-text {
	color: black;
	background-color: lightgrey;
	margin-left: 10px;
}

#news-view {
	margin-bottom: 15px;
}

.new-comment {
	margin-top: 20px;
}

#new-comment-btn {
	float: right;
	width: 120px;
	height: 40px;
	border: outset;
	margin-top: 10px;
}

#wrapper {
	width: 1000px;
	min-width: 750px;
	margin: auto;
}

.header {
	padding: 10px;
	border: solid;
	height: 40px;
	margin-top: 4px;
}

.content-wrapper {
	padding: 10px;
	border: solid;
	border-top: 0px;
	border-bottom: 0px;
}

.content {
	padding: 10px;
	border: solid lightgrey;
	border-width: thin;
}

.menu {
	padding: 50px 10px 0px 10px;
	width: 200px;
	float: left;
}

#submit-btn {
	padding-left: 148px;
}

.login {
	margin: 310px 330px;
}

.login-input-line {
	margin-bottom: 4px;
	width: 170px;
}

.login-label-line {
	margin-top: 4px;
	font-weight: bold;
}

.btn {
	width: 100px;
	height: 40px;
	border: outset;
}

#menu-list {
	background-color: white;
	width: 150px;
	height: 100px;
	margin-left: 25px;
	font-size: 11px;
	float: left;
}

#menu-list ul {
	list-style-image: url('../images/circle.gif');
}

#menu-list ul li {
	padding-bottom: 10px;
}

#admin-content {
	overflow: hidden;
	border-right: solid;
	border-left: solid;
}



#menu-wrapper {
	overflow: hidden;
	width: 200px;
	height: 100px;
	float: left;
	background-color: lightgrey;
	margin-top: 5px;
	border: solid lightgrey;
}

.news-component {
	overflow: hidden;
	margin-top: 20px;
	margin-left: 20px;
}

.title-component {
	overflow: hidden;
}

.title {
	width: 330px;
	float: left;
	font-weight: bold;
}

.author {
	width: 200px;
	float: left;
}

.date {
	float: left;
	text-decoration: underline;
}
.news-footer {
	overflow: hidden;
}

.comments-element {
	float: left;
	width: 413px;
}

.comments {
	float: right;
	color: red;
	margin-right: 10px;
}

.edit-link {
	float: right;
	margin-right: 10px;
}

.checkbox {
	float: right;
	margin-right: 10px;
}

#delete-btn {
	text-align: right;
	margin: 30px;
}

#delete {
	width: 100px;
	height: 30px;
	border: outset;
}

.input-component {
	overflow: hidden;
	margin-bottom: 30px;
}

.component-name {
	float: left;
	padding-left: 15px;
	padding-top: 2px;
	font-weight: bold;
}

.content-component {
	width: 620px;
	float: right;
}

#title-input {
	width: 600px;
}

#date-input {
	width: 150px;
}

#brief-input {
	width: 600px;
}

#content-input {
	height: 200px;
	width: 600px;
}

#news-add-edit-wrapper {
	margin: 15px;
	margin-top: 50px;
}



#save-btn {
	float: right;
	margin-right: 15px;
	width: 100px;
	height: 40px;
	margin-bottom: 200px;
	border: outset;
}
.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.label-tag {
	overflow: hidden;
}

.user {
	overflow: hidden;
	margin-bottom: -40px;
}

.user-name {
	width: 250px;
	float: right;
	text-align: right;
	line-height: 35px;
	padding-right: 5px;
	font-weight: bold;
}

.btn-logout {
	float: right;
	padding-right: 5px;
	padding-top: 4px;
	width: 100px;
	text-align: center;
}

.logout-link {
	text-decoration: none;
}

#btn-logout {
	width: 100px;
	height: 25px;
	border: outset;
	padding-right: 5px;
}

.list-of-authors {
	padding-top: 50px;
}

.author-component {
	overflow: hidden;
	margin: auto;
	width: 430px;
	margin-bottom: 20px;
	
}

.author-title {
	float: left;
	padding: 0 30px;
	font-weight: bold;
}

.author-name {
	float: left;
}

.author-update-link {
	float: left;
	padding: 0 30px;
}

#save-author {
	background: none !important;
	border: none;
	padding: 0 !important;
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

input[readonly="readonly"] {
	background-color: lightgray;
}

input[readonly] {
	background-color: lightgray;
}

#news-view-wrapper {
	padding: 15px;
	overflow: hidden;
}

.news-view-title {
	width: 350px;
	float: left;
	font-weight: bold;
	margin-bottom: 20px;
	margin-right: 250px;
}

.news-view-author {
	width: 200px;
	float: left;
}

.news-view-date {
	float: left;
	width: 140px;
}

#news-view-header {
	overflow: hidden;
}

.news-view-text {
	width: 800px;
	text-align: justify;
}

.comment-date {
	overflow: hidden;
	color: black;
	
}

.comment-text {
	color: black;
	background-color: lightgrey;
	margin-left: 10px;
}

#news-view {
	margin-bottom: 15px;
}

.new-comment {
	margin-top: 20px;
	width: 400px;
}
#new-comment {
	margin-left: 8px;
	width: 400px;
}
#new-comment-btn {
	float: right;
	width: 120px;
	height: 40px;
	border: outset;
	margin-top: 10px;
}
#navigation {
	overflow: hidden;
	width: 940px;
}

#previous {
	float: left;
}

#next {
	float: right;
}
.date-list {
	float: right;
	margin-right: 20px;
	text-decoration: underline;
}

.delete-comment {
	float: right;
}
#back {
	background: none !important;
	border: none;
	padding: 0 !important;
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}
.news-with-comment{
	overflow: hidden;
	height: 815px;
}