html, body {
	height: 100%;
	margin: auto;
	padding: 0;
}
#wrapper {
	width: 1000px;
	min-width: 750px;
	margin: auto;
}

#previous {
	float: left;
}
#next {
	float: right;
}
.content-wrapper {
	padding: 10px;
	border: solid;
	border-top: 0px;
	border-bottom: 0px;
}
.content {
	padding: 10px;
	border: solid lightgrey;
	border-width: thin;
}

.menu {
	padding: 50px 10px 0px 10px;
	width: 200px;
	float: left;
}



#login-labels {
	float: left;
	width: 75px;
}

#login-input {
	float: left;
	width: 175px;
}



#input-label-login {
	overflow: hidden;
}

#submit-btn {
	padding-left: 148px;
}
.login {
	margin: 310px 330px;
}

.login-input-line {
	margin-bottom: 4px;
	width: 170px;
}

.login-label-line {
	margin-top: 4px;
	font-weight: bold;
}

.btn {
	width: 100px;
	height: 40px;
	border: outset;
}

#menu-list {
	background-color: white;
	width: 150px;
	height: 70px;
	margin-left: 25px;
	font-size: 11px;
	float: left;
}

#menu-list ul {
	list-style-image: url('../images/circle.gif');
}

#menu-list ul li {
	padding-bottom: 10px;
}

#admin-content {
	overflow: hidden;
	border-right: solid;
	border-left: solid;
}
.news-footer {
	overflow: hidden;
}
.comments-element {
	float: left;
	width: 413px;
}
.checkbox {
	float: right;
	margin-right: 10px;
}
.comments {
	float: right;
	color: red;
	margin-right: 10px;
}
.tags {
	float: right;
	color: grey;
	margin-right: 30px;
	width: 200px;
}
.news-component {
	overflow: hidden;
	margin-top: 20px;
	margin-left: 20px;
}
.author {
	width: 200px;
	float: left;
}
.title {
	width: 330px;
	float: left;
	font-weight: bold;
}
.title-component {
	overflow: hidden;
}
