#filter {
	width: 500px;
	margin: auto;
	margin-top: 20px;
	margin-left: 170px;
	overflow: hidden;
}
#reset{
	float: right;
}
#select-option {
	width: 430px;
	margin: auto;
	overflow: hidden;
}
#author-select {
	float: left;
	margin-right: 10px;
}
.multiselect {
	display: inline-block;
	width: 145px;
	float: left;
	margin-right: 10px;
}
.selectBox {
	position: relative;
	padding: 0px 5px;
	border: 1px solid;
	display: inline-block;
	cursor: pointer;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	height: 17px;
}
.selectBox select {
	width: 100%;
}
#checkboxes {
	display: none;
	border: #dadada solid;
	width: 125px;
	position: absolute;
	background-color: white;
}
#checkboxes div {
	overflow: hidden;
}
#checkboxes input {
	float: left;
}

#checkboxes label {
	display: block;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}