.pagination {
	overflow: hidden;
	background-color: #F2F2F2;
}

.page-button {
	list-style: none;
	float: left;
	width: 20px;
	height: 20px;
	border: solid;
	border-color: #C6C6C6;
	background-color: #EFEFEF;
	color: black;
	text-align: center;
	cursor: pointer;
	margin: 0 2px;
	font-weight: bold;
}

.page-button:hover {
	background-color: black;
	border: solid;
	border-color: white;
	color: white;
	font-weight: bold;
}

.page-button-wrapper {
	padding: 0px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 430px;
}
.pagination-link {
	text-decoration: none;
	color: black;
}

.pagination-link:hover {
	text-decoration: none;
	color: white;
}