.options{
	float: left;
  	margin-left: 10px;
}
.body {
	float: left;
	width: 770px;
	border: solid;
	border-color: lightgray;
	margin: 5px;
	margin-left: 0px;
	height: 950px;
}
#filterVO {
	float: right;
}
#reset {
	float: right;
}
#authorId {
	height: 22px;
}
.date {
	float: left;
	text-decoration: underline;
}

}
.news-content {
	padding-left: 200px;
	width: 280px;
}


#menu-wrapper {
	overflow: hidden;
	width: 200px;
	height: 130px;
	float: left;
	background-color: lightgrey;
	margin-top: 5px;
	border: solid lightgrey;
}
.edit-link {
	float: right;
	margin-right: 10px;
}
#delete-btn {
	text-align: right;
	margin: 30px;
}

#delete {
	width: 100px;
	height: 30px;
	border: outset;
}

.input-component {
	overflow: hidden;
	margin-bottom: 30px;
}
.component-name {
	float: left;
	padding-left: 15px;
	padding-top: 2px;
	font-weight: bold;
	width: 100px;
}

.content-component {
	width: 620px;
	float: right;
}

#title-input {
	width: 600px;
}

#date-input {
	width: 150px;
}

#brief-input {
	width: 600px;
}

#content-input {
	height: 200px;
	width: 600px;
}

#news-add-edit-wrapper {
	margin: 15px;
	margin-top: 50px;
}

#select-option {
	width: 410px;
	margin: auto;
	overflow: hidden;
}

#save-btn {
	float: right;
	margin-right: 15px;
	width: 100px;
	height: 40px;
	margin-bottom: 200px;
	border: outset;
}

.multiselect {
	width: 145px;
	float: left;
	margin-right: 10px;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	display: none;
	border: #dadada solid;
	width: 125px;
	position: absolute;
	background-color: white;
}

#checkboxes div {
	overflow: hidden;
}

#checkboxes input {
	float: left;
}

#checkboxes label {
	display: block;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}

#author-select {
	float: left;
	margin-right: 10px;
}

.pagination {
	overflow: hidden;
	background-color: #F2F2F2;
}

.page-button {
	list-style: none;
	float: left;
	width: 20px;
	height: 20px;
	border: solid;
	border-color: #C6C6C6;
	background-color: #EFEFEF;
	color: black;
	text-align: center;
	cursor: pointer;
	margin: 0 2px;
	font-weight: bold;
}

.page-button:hover {
	background-color: black;
	border: solid;
	border-color: white;
	color: white;
	font-weight: bold;
}

.page-button-wrapper {
	padding: 0px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 300px;
}

.list-of-posts {
	height: 752px;
}

.label-tag {
	overflow: hidden;
}

.user {
	overflow: hidden;
	margin-bottom: -40px;
}
#new-comment{
	  width: 400px;
  margin-left: 8px;
}
.user-name {
	width: 250px;
	float: right;
	text-align: right;
	line-height: 35px;
	padding-right: 5px;
	font-weight: bold;
}

.btn-logout {
	float: right;
	padding-right: 5px;
	padding-top: 4px;
	width: 100px;
	text-align: center;
}

.logout-link {
	text-decoration: none;
}

#btn-logout {
	width: 100px;
	height: 25px;
	border: outset;
	padding-right: 5px;
}

.list-of-authors {
	padding-top: 50px;
}

.list-of-tags {
	padding-top: 50px;
}

.author-component {
	overflow: hidden;
	margin: auto;
	width: 500px;
	margin-bottom: 20px;
	height: 22px;
}

.author-title {
	float: left;
	padding: 0 30px;
	font-weight: bold;
}

.tag-title {
	float: left;
	padding: 0 30px;
	font-weight: bold;
}

.author-name {
	float: left;
}

.tag-name {
	float: left;
}

.author-update-link {
	float: left;
	padding: 0 30px;
}

.select-link {
	float: left;
	padding: 0 30px;
}

#save-author {
	background: none !important;
	border: none;
	padding: 0 !important;
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

#save-tag {
	background: none !important;
	border: none;
	padding: 0 !important;
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

input[readonly="readonly"] {
	background-color: lightgray;
}

input[readonly] {
	background-color: lightgray;
}

#news-view-wrapper {
	padding: 15px;
	overflow: hidden;
	height: 920px;
}

.news-view-title {
	width: 350px;
	float: left;
	font-weight: bold;
	margin-bottom: 20px;
	margin-right: 50px;
}

.news-view-author {
	width: 200px;
	float: left;
}

.news-view-date {
	float: left;
	width: 140px;
}

#news-view-header {
	overflow: hidden;
}

.news-view-text {
	width: 800px;
}

.comment-date {
	overflow: hidden;
	color: black;
}

.comment-text {
	color: black;
	background-color: lightgrey;
	margin-left: 10px;
}

#news-view {
	margin-bottom: 15px;
}

.new-comment {
	margin-top: 20px;
}

#new-comment-btn {
	float: right;
	width: 120px;
	height: 40px;
	border: outset;
	margin-top: 10px;
}

.pagination-link {
	text-decoration: none;
	color: black;
}

.pagination-link:hover {
	text-decoration: none;
	color: white;
}

#navigation {
	overflow: hidden;
	width: 740px;
}

.selectBox {
	padding: 0px 5px;
	border: 1px solid;
	display: inline-block;
	cursor: pointer;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	height: 20px;
}

.multiselect {
	display: inline-block;
}

.date-list {
	float: right;
	margin-right: 20px;
	text-decoration: underline;
}

.delete-comment {
	float: right;
}

.delete-link {
	width: 20px;
	height: 20px;
	background-image: url('../images/close-btn.jpg');
	display: block;
}

.cancel {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.select-link {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.tag-select {
	overflow: hidden;
	margin: auto;
	width: 460px;
	margin-bottom: 20px;
}

.author-select {
	overflow: hidden;
	margin: auto;
	width: 500px;
	margin-bottom: 20px;
}

a.disabled {
	pointer-events: none;
	cursor: default;
	color: #999;
}
.news-with-comment{
	overflow: hidden;
	height: 900px;
}